body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background: #150000;
    color: #ffffff;
}
h1{
    color: #00ff00;
    text-align: center;
}
h2, h3 { 
    color: #00e408;
}
pre {
    background: #000000;
    color: #00b92b;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}
section {
    background: rgb(113, 113, 113);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 216, 29, 0.1);
}